python-multipart
numpy
scipy
scikit-learn
pandas
matplotlib
tqdm
torch==2.1.0+cu118
torchvision==0.16.0+cu118
torchaudio==2.1.0+cu118
transformers==4.35.2
sentencepiece
tokenizers
opencv-python==4.8.1.78
ffmpeg-python
pyaudio
sounddevice
librosa
scikit-image
dlib
faiss-cpu
python-dotenv
PyYAML
